<p>product-update works!</p>
<p>{{product | json}}</p>
<p>{{productForm.value | json}}</p>
<form [formGroup]="productForm" (submit)="submit()">
  ID:<br>
  <input type="text" formControlName="id"><br>
  Name:<br>
  <input type="text" formControlName="name"><br>
  Number:<br>
  <input type="number" formControlName="price"><br>
  Description:<br>
  <input type="text" formControlName="description"><br>
  Category:<br>
  <select formControlName="category">
    <option *ngFor="let cate of allCate" [ngValue]="cate">{{cate.name}}</option>
  </select>
  <br>
  <button>Update</button>
</form>
